body {
  padding: 30px 15px;
  background-color: blueviolet;
  color: beige;
}

Link {
  text-decoration: none;
  color: beige;
}

button {
  background-color: beige;
  border: none;
  border-radius: 3px;
  color: blueviolet;
  font-weight: 700;
  padding: 3px 6px;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

label {
  font-size: 16px;
  margin-right: 12px;
}
